header{
    background-color:#a1660d;
    color:#1a1003;
    font-family:arial;
    margin-block: 10;
    display: flex;
}

logo{
    display:flex;
    margin-left: 100;
    margin-right: 100;
    align-content: center;
}

menu{
    justify-content: space-around;
    margin-left: 200;
    margin-right: 200;
    color:#a1660d;
    font-family:arial;


}
body{
    background-color:#fcf6ed;
    color:#261816;
    font-family:arial;
    margin-top: 50;
    margin-bottom: 50;
}

h1 {
    font-size: 60px; 
    color: #261816; 
    }

h2 {
    font-size: 14px; 
    color:#261816;
} 

h3 {
    font-size: 12px; 
    color:#261816;
}

ul {
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}

article {
    width: 300 ;
    height: 100 ;
    padding: 90px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 100;
    margin-right: 100;
}
#article1{
    background-color:#5da556;
    color:#10220e;
    font-family:arial;
}
#article2{
    background-color:#eb9834;
    color:#10220e;
    font-family:georgia;
}

aside{
    background-color:#bd7aa9;
    color:#10220e;
    font-family:georgia;
    font-size: 10px; 
    margin-block: 100;
}

footer{
    background-color:#a1660d;
    color:#1a1003;
    font-family:arial;
    font-size: 13px;
}
